.nav-bar{
    text-align: center;
}
.title, .about-me{
  color: green;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


.nav{
    display: flex;
    width: 100%;
}