.nav-bar{
    text-align: center;
}
.title, .about-me{
  display: flex;
  justify-content: center;
  color: #544c2f;
  text-decoration: none;
  font-family: 'Game of Thrones';

}


.nav{
    display: flex;
    width: 100%;
    background-color: #f3f5da;
}
.nav-title{
  font-family: 'Game of Thrones'
}