.about{
    display: flex;
    font-size: 20px;
    margin: 20px;
    justify-content: center;
}

.image-pic{
    display: flex;
    align-items: flex-end;
    max-width:100%;
      height:auto;
  }
  