.quote{
    font-family: cursive;
    font-size: 25px;
    margin-bottom: 5%;
    margin-right: 2%;
  }
  
.click-person{
    font-size: 15px;
  }

.got_game{
  margin: 10px;
}

.answer{
  margin-top: 2%;
}
.title{
  margin-bottom: 3%;
  padding-top: 3%;
}

.input_box{
  width: 200px;
  height: 50px;
  margin-right: 2%;
  background-color: lightgrey;

}
.bottom_photo{
  width: 100%;
}

.tips{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 20px;

}

.a_tip{
}

.photos{
  display: flex;
  height: 200px;
  width: 350px;
}
.scoreboard{
  font-size: 20px;

}

.row {
  display: table;
}

.question{
  font-size: 20px;
}