.quote{
    font-family: cursive;
    font-size: 20px;
    margin-bottom: 5%;
  }
  
.click-person{
    font-size: 15px;
  }

.got_game{
  margin: 10px;
}

.answer{
  margin-left: 70%;
}
.title{
  margin-bottom: 5%;
}